<div class="backdrop" (click)="onClose()"></div>
<div class="popup">
  <div class="popup-head">
    <h1 class="popup-head-title">Inbox</h1>
    <p class="popup-head-description">Get ready and create your own team!</p>
  </div>
  <div class="notifications">
    <div class="notifications-item" *ngFor="let notification of notifications">
      <div class="sender-avatar">
        <img [src]="'https://cdn.pixabay.com/photo/2018/12/13/03/00/hot-chocolate-3872047_960_720.jpg'" alt="Sender Avatar">
        <div class="sender-avatar-status">
            <span class="status-indicator"
                  [ngClass]="isAuthorOnline(notification) ? 'status-indicator-online' : 'status-indicator-offline'"></span>
        </div>
      </div>
      <div class="content">
        <p class="content-title">{{notification.title}}</p>
        <p class="content-message">{{notification.message}}</p>
        <p class="content-since">{{getTimeSince(notification)}} ago</p>
      </div>
    </div>
  </div>
</div>
