<router-outlet></router-outlet>
<app-header></app-header>
<main class="main-content">
    <div class="browse">
        <div class="top">
            <h1>My List</h1>
            <p class="about">Browse all your joined or created challenges</p>
            <div class="actions-bar">
                <div class="container">
                    <app-challenge-search></app-challenge-search>          
                </div>
            </div>
        </div>
        <div class="item-list">
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
            <app-challenge-card></app-challenge-card>
        </div>
    </div>
</main>
<app-footer></app-footer>