@font-face { font-family: 'Sora'; src: url('/assets/fonts/Sora.ttf'); }

$font-family: 'Sora';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F8F8FB;

    .main-content {
        width: 100%;
        height: fit-content;
        padding-top: 60px;
        display: flex;
        box-sizing: border-box;

        .browse {
            padding-top: 10vh;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: #FFF;

            .top {
                margin: 0 auto 80px auto;
                padding: 32px 0;
                width: 60%;
                display: flex;
                align-items: center;
                border-radius: 8px;
                background: rgb(87,74,226);
                background: linear-gradient(90deg, rgba(87,74,226,1) 75%, rgba(62,63,94,1) 100%);
                width: 80%;

                .details {
                    margin: 0 15%;
                    
                    h1 {
                        margin: 0 0 16px 0;
                        font-weight: 600;
                        font-size: 3em;
                        font-family: $font-family;
                        color: #FFF;
                    }
        
                    .about {
                        margin: 0;
                        font-family: $font-family;
                        color: #FFF;
                    }
                }
            }

            .item-list {
                padding: 0 60px 60px 60px;
                box-sizing: border-box;
                width: 100%;
                height: fit-content;
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(auto-fill, 300px);
                gap: 100px;
                background-color: #F8F8FB;
            }
        }
    }
}