:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-2);

  .main-content {

    .browse {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;

      .section-banner {
        margin-bottom: 24px;
        padding: 32px 64px;
        min-height: 140px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
        border-radius: 8px;
        background: linear-gradient(90deg, var(--color-primary) 10%, var(--color-secondary) 80%);

        .details {

          h1 {
            margin: 0 0 16px 0;
            font-weight: 600;
            font-size: var(--preset-font-size-large);
            color: #FFF;
          }

          .about {
            margin: 0;
            font-size: var(--preset-font-size-normal);
            color: #FFF;
          }
        }
      }

      .search {
        margin-bottom: 64px;
      }

      .item-list {
        width: 100%;
      }
    }
  }
}
