<h1>We're improving your Experience</h1>
<p>
    Sorry, we are down for maintenance but will be back shortly!
    <br>
    If you have any questions feel free to visit our socials.
</p>
<div class="time-left" *ngIf="!passed">
    <div class="case">
        <span class="value" #counter_hours></span>
        <p class="unit">Hours</p>
    </div>
    <div class="case">
        <span class="value" #counter_minutes></span>
        <p class="unit">Minutes</p>
    </div>
    <div class="case">
        <span class="value" #counter_seconds></span>
        <p class="unit">Seconds</p>
    </div>
</div>