:host {

  h1 {
    margin: 32px 0 32px 16px;
    font-size: var(--preset-font-size-large);
    color: var(--color-text);
  }

  .challenge-groups-mygroup {
    height: 300px;
    box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
    border-radius: 16px;
    background-color: #FFF;
  }

  .challenge-box-groups-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 32px;

    .groups-list-item-new {
      position: relative;
      transition: all .2s ease;
      border: 1px solid var(--color-secondary);
      cursor: pointer;
      user-select: none;
    }

    .groups-list-item-new-enabled:hover {
      border: 2px solid var(--color-secondary-hover);

      svg {
        width: 32px;
        height: 32px;
        transition: all .2s ease;
      }

      p {
        transition: all .2s ease;
        font-size: calc(var(--preset-font-size-small) + .05em);
      }
    }

    svg {
      width: 28px;
      height: 28px;
      fill: var(--color-text);
    }

    p {
      font-weight: 600;
      font-size: var(--preset-font-size-small);
      color: var(--color-text);
    }

    .groups-list-item {
      padding: 0 16px;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 8px;
      box-sizing: border-box;
      box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
      border-radius: 16px;
      background-color: #FFF;

      .groups-list-item-icon {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }

      .groups-list-item-members-count {
        padding: 0 12px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4px;
        border-radius: 16px;
        background-color: #F2F2F2;

        svg {
          width: 16px;
          height: 16px;
          fill: var(--color-text-alt);
        }

        p {
          font-size: var(--preset-font-size-tiny);
          color: var(--color-text-alt);
        }
      }

      .groups-list-item-name {
        font-weight: 600;
        font-size: var(--preset-font-size-small);
        color: var(--color-text);
      }

      .groups-list-item-join-btn {
        padding: 2px 16px;
        border: none;
        border-radius: 16px;
        background-color: var(--color-secondary);
        font-size: var(--preset-font-size-tiny);
        color: #FFF;
        cursor: pointer;

        &:hover {
          background-color: var(--color-secondary-hover);
        }
      }
    }
  }
}
