:host {

  h1 {
    margin: 32px 0 32px 16px;
    font-size: var(--preset-font-size-large);
    color: var(--color-text);
  }

  .challenge-groups-mygroup {
    padding: 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
    border-radius: 16px;
    background-color: #FFF;

    .mygroup-leave {
      padding: 8px 16px;
      position: absolute;
      top: 32px;
      right: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 4px;
      border: 1px solid rgb(var(--color-semantic-error));
      border-radius: 16px;
      background-color: transparent;
      font-weight: 500;
      color: rgb(var(--color-semantic-error));
      transition: background-color 400ms;

      &:hover {
        background-color: rgba(var(--color-semantic-error));
        color: #FFF;

        svg {
          fill: #FFF;
        }
      }

      svg {
        width: 16px;
        height: 16px;
        fill: rgb(var(--color-semantic-error));
      }
    }

    .mygroup-icon {
      width: 128px;
      height: 128px;
      border-radius: 50%;
    }

    .mygroup-name {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 4px;
      font-weight: 600;
      font-size: var(--preset-font-size-medium);
      color: var(--color-text);

      svg {
        width: 32px;
        height: 32px;
        fill: var(--color-text);
      }
    }

    .mygroup-members {
      margin-top: 32px;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, 160px);
      justify-content: center;
      align-items: center;
      gap: 16px;

      .members-item {
        height: 160px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 8px;
        border-radius: 8px;
        background-color: #FFF;

        .members-item-avatar {
          width: 64px;
          height: 65px;
          min-width: 64px;
          min-height: 64px;
          border-radius: 50%;
        }

        .members-item-username {
          display: flex;
          align-items: center;
          column-gap: 4px;
          font-weight: 600;
          font-size: var(--preset-font-size-small);
          color: var(--color-text);
        }

        .members-item-role {
          font-size: var(--preset-font-size-small);
          color: var(--color-text-alt-2);
        }

        .members-item-remove-btn {
          padding: 2px 8px;
          border-radius: 16px;
          border: 1px solid rgb(var(--color-semantic-error));
          background-color: #FFF;
          transition: background-color 400ms;
          font-size: var(--preset-font-size-tiny);
          color: rgb(var(--color-semantic-error));

          &:hover {
            background-color: rgb(var(--color-semantic-error));
            color: #FFF;
          }
        }
      }
    }

    .mygroup-open-chat {
      padding: 0 24px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px;
      background-color: var(--color-secondary);
      text-decoration: none;
      font-weight: 500;
      font-size: var(--preset-font-size-small);
      color: #FFF;
      cursor: pointer;

      &:hover {
        background-color: var(--color-secondary-hover);
      }
    }
  }

  .challenge-box-groups-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 32px;

    .groups-list-item-new {
      position: relative;
      transition: all .2s ease;
      border: 1px solid var(--color-secondary);
      cursor: not-allowed !important;
      user-select: none;
    }

    .groups-list-item-new-enabled:hover {
      border: 2px solid var(--color-secondary-hover);
      cursor: pointer;

      svg {
        width: 32px;
        height: 32px;
        transition: all .2s ease;
      }

      p {
        transition: all .2s ease;
        font-size: calc(var(--preset-font-size-small) + .05em);
      }
    }

    svg {
      width: 28px;
      height: 28px;
      fill: var(--color-text);
    }

    p {
      font-weight: 600;
      font-size: var(--preset-font-size-small);
      color: var(--color-text);
    }

    .groups-list-item {
      padding: 0 16px;
      min-height: 200px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 8px;
      box-sizing: border-box;
      box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
      border-radius: 16px;
      background-color: #FFF;
      cursor: pointer;

      &:hover {

        @keyframes item-members-slide {
          0% {
            left: 0;
          }
          100% {
            left: 100%;
            visibility: visible;
            opacity: 1;
          }
        }

        .groups-list-item-members {
          animation: item-members-slide 1s;
          animation-fill-mode: forwards;
        }
      }

      .groups-list-item-icon {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }

      .groups-list-item-members-count {
        padding: 0 12px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4px;
        border-radius: 16px;
        background-color: #F2F2F2;
        cursor: pointer;

        svg {
          width: 16px;
          height: 16px;
          fill: var(--color-text-alt);
        }

        p {
          font-size: var(--preset-font-size-tiny);
          color: var(--color-text-alt);
        }
      }

      .groups-list-item-name {
        font-weight: 600;
        font-size: var(--preset-font-size-small);
        color: var(--color-text);

        svg {
          width: 16px;
          height: 16px;
          fill: var(--color-text);
        }
      }

      .groups-list-item-join-btn {
        padding: 2px 16px;
        border: none;
        border-radius: 16px;
        background-color: var(--color-secondary);
        font-size: var(--preset-font-size-tiny);
        color: #FFF;
        cursor: pointer;

        &:hover {
          background-color: var(--color-secondary-hover);
        }
      }

      .groups-list-item-members {
        padding: 16px 24px;
        width: 200px;
        min-height: 200px;
        position: absolute;
        top: 0;
        z-index: 3;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        align-items: center;
        box-sizing: border-box;
        border-radius: 16px;
        background-color: var(--color-primary);
        visibility: hidden;
        opacity: 0;
        transition: all 400ms;

        > p {
          color: #FFF;
        }

        .groups-list-item-members-item {
          width: 100%;
          display: flex;
          align-items: center;
          column-gap: 8px;

          img {
            width: 32px;
            height: 32px;
            border: 1px solid #FFF;
            border-radius: 50%;
          }

          > div {
            display: flex;
            flex-direction: column;
            row-gap: 4px;

            .groups-list-item-members-nickname {
              text-decoration: none;
              font-weight: 500;
              font-size: var(--preset-font-size-small);
              color: #FFF;

              &:hover {
                text-decoration: underline;
              }
            }

            .groups-list-item-members-role {
              font-weight: 400;
              font-size: var(--preset-font-size-tiny);
              color: #FFF;
            }
          }
        }
      }
    }
  }
}
