<router-outlet></router-outlet>
<app-header></app-header>
<main class="main-content">
    <div class="browse">
        <div class="top">
            <div class="details">
                <h1>Explore</h1>
                <p class="about">Browse challenges created by the community</p>
            </div>
        </div>
        <app-challenge-search (searchEvent)="onSearch($event)" (displayModeEvent)="onDisplayModeSelected($event)"></app-challenge-search>
        <app-challenge-store [challenges$]="challenges$" [displayMode]="displayMode"></app-challenge-store>
    </div>
</main>
<app-footer></app-footer>