:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-2);

    .main-content {
        width: 100%;
        height: fit-content;
        padding-top: 60px;
        display: flex;
        flex: 1;
        box-sizing: border-box;
        background-color: #F8F8FB;

        .browse {
            padding-top: 10vh;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: #FFF;

            .top {
                margin: 0 auto 80px auto;
                padding: 32px 64px;
                width: 70%;
                height: 150px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                border-radius: 8px;
                background: linear-gradient(90deg, var(--color-primary) 10%, var(--color-secondary) 100%);

                .details {
                    
                    h1 {
                        margin: 0 0 16px 0;
                        font-weight: 600;
                        font-size: var(--preset-font-size-x-large);
                        color: #FFF;
                    }
        
                    .about {
                        margin: 0;
                        font-size: var(--preset-font-size-normal);
                        color: #FFF;
                    }
                }
            }

            .items {
                margin: 0 auto;
                padding: 60px 0;
                width: 70%;
                display: grid;
                justify-content: space-evenly;
                align-items: stretch;
                box-sizing: border-box;
            }
        
            .display-grid {
                grid-template-columns: repeat(auto-fit, 350px);
                gap: 32px;
            }
        
            .display-list {
                grid-template-columns: repeat(1, 100%);
                gap: 32px;
            }
        }
    }
}