<dfy-header></dfy-header>
<main class="main-content" #height_ref>
  <div class="browse">
    <div class="section-banner">
      <div class="details">
        <h1>Explore</h1>
        <p class="about">Browse challenges created by the community</p>
      </div>
    </div>
    <dfy-challenge-search class="search"
                          [searchSubject]="searchSubject">
    </dfy-challenge-search>
    <div class="item-list">
      <dfy-browse-results-list
        [searchSubject]="searchSubject">
      </dfy-browse-results-list>
    </div>
  </div>
</main>
<dfy-footer></dfy-footer>
