<router-outlet></router-outlet>
<app-header></app-header>
<main class="main-content">
    <div class="browse">
        <div class="top">
            <div class="details">
                <h1>Explore</h1>
                <p class="about">Browse challenges created by the community</p>
            </div>
            <app-challenge-search (searchEvent)="search($event)"></app-challenge-search>
        </div>
        <div class="item-list">
            <app-challenge-card [challenge]="challenge" *ngFor="let challenge of challenges$ | async" (click)="onItemSelected()"></app-challenge-card>
        </div>
    </div>
</main>
<app-footer></app-footer>