@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter.ttf'); }

$font-family: 'Inter';

:host {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 998;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .popup {
        width: 500px;
        height: 70%;
        position: fixed;
        z-index: 999;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: #FFF;
        box-sizing: border-box;
        overflow: hidden;

        .head {
            width: 100%;
            border-bottom: 2px solid #E8E8E8;

            & > div {
                padding: 25px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
    
                h1 {
                    margin: 0;
                    font-size: 1.3em;
                    font-family: $font-family;
                }

                .right-box {
                    display: flex;
                    align-items: flex-start;

                    .mark-all-btn {
                        margin-right: 25px;
                        border: none;
                        background-color: transparent;
                        font-size: 0.9em;
                        font-family: $font-family;
                        color: #4285F4;
                        cursor: pointer;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .close-overlay-btn {
                        padding: 0;
                        border: none;
                        background: none;
                        cursor: pointer;

                        svg {
                            fill: #252526;
                            stroke: #252526;
                        }
                    }
                }
            }
        }

        .sections {
            margin: 0;
            display: flex;
            column-gap: 30px;
            list-style-type: none;

            li {
                min-width: 30px;
                position: relative;
                display: flex;
                justify-content: center;

                &:hover::after {
                    border-color: #4285F4;
                }

                &::after {
                    width: 100%;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    border: 1px solid transparent;
                    transform: rotate(180deg);
                }

                &:hover {
                    border-color: #4285F4;
                }

                button {
                    height: 50px;
                    border: none;
                    background: none;
                    font-weight: 500;
                    font-size: 1em;
                    font-family: $font-family;
                    cursor: pointer;
                }
            }
        }

        .notifications {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;

            .item {
                padding: 10px 25px;
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    background-color: #F9F9F9;
                }
                
                &::after {
                    width: 80%;
                    height: 0;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%); 
                    display: block;
                    content: '';
                    border-bottom: 1px solid #F2F2F2;
                }
    
                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 6px;
                }
    
                .info {
                    margin-left: 25px;
                  
                    .first {
                        font-size: 1em;
                        font-family: $font-family;
    
                        .author {
                            margin-right: 5px;
                            display: inline-block;
                            font-weight: 500;
                            
                            &:hover {
                                text-decoration: underline;
                            }
                        }
    
                        .subject {
                            margin: 0;
                            word-wrap: break-word;
                            display: inline-block;
                        }
                    }
    
                    .last {
                        margin-top: 5px;
                        font-family: $font-family;
                        color: #808080;
                        font-size: 0.9em;
    
                        .source {
                            margin-left: 18px;
                            position: relative;
    
                            &::before {
                                width: 0;
                                height: 0;
                                position: absolute;
                                top: calc(50% - 2px);
                                left: -12px;
                                display: inline-block;
                                content: '';
                                border-radius: 50%;
                                border: 3px solid #DDDDDD;
                            }
                        }
                    }
                }
            }
        }
    }
}