@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter.ttf'); }

$font-family: 'Inter';

:host(.viewstyle-opaque) {
    box-shadow: rgba(149, 157, 165, 0.3) 0px 4px 12px;
    background-color: #FFF;
}

:host {
    padding: 0 25px 0 60px;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    user-select: none;

    a {
        text-decoration: none;
    }

    .app-name {
        margin-right: 25px;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.4em;
        font-family: $font-family;
        color: #252526;
    }

    .navbar {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 45px;
        list-style-type: none;
    
        .item {
            padding: 0 15px 0 15px;
            width: fit-content;
            height: 35px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            &:hover > .dropdown-wrapper {
                display: inline-block;
            }
    
            .item-link, span {
                position: relative;
                text-decoration: none;
                font-family: $font-family;
                font-weight: 600;
                font-size: 0.95em;
                color: #252526;
            }

            .item-link {

                &:hover::before {
                    content: '';
                }

                &::before {
                    width: 50%;
                    height: 3px;
                    position: absolute;
                    top: calc(100% + 5px);
                    left: 0;
                    border-radius: 50px;
                    background-color: #252526;
                }
            }

            .dropdown-wrapper {
                padding-top: 25px;
                padding-left: 25px;
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                z-index: 1;
                display: none;

                .dropdown {
                    padding: 12px;
                    display: grid;
                    grid-template-columns: repeat(1, 300px);
                    grid-gap: 12px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    border-radius: 15px;
                    background-color: #FFF;

                    .dropdown-item {
                        padding: 0 12px 0 12px;
                        height: 80px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        text-decoration: none;

                        &:hover {
                            background-color: #F8F8F8;
                        }

                        a {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            column-gap: 15px;

                            .dropdown-item-icon {
                                width: 50px;
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                                border-radius: 5px;
                                
                                svg {
                                    width: 28px;
                                    height: 28px;
                                    fill: #252526;
                                }
                            }
    
                            .dropdown-item-info {
    
                                & > * {
                                    font-family: $font-family;
                                }
    
                                .name {
                                    font-size: 1em;
                                    color: #252526;
                                    font-weight: 600;
                                }
    
                                .description {
                                    margin: 5px 0 0 0;
                                    max-width: 180px;
                                    font-size: 0.9em;
                                    font-weight: 500;
                                    color: #808080;
                                }
                            }
                        }
                    }
                }
            }
        }

        .unfoldable-item::after {
            width: 0;
            height: 0;
            position: relative;
            left: 8px;
            display: inline-block;
            content: "";
            border-color: #2E2445 transparent transparent;
            border-radius: 8px;
            border-width: 6px 6px 0;
            border-style: solid;
            transition-duration: 0.5s;
        }

        .unfoldable-item:hover::after {
            transform: rotate(180deg);
        }
    }

    .langs {
        margin-right: 25px;
        font-weight: 700;
        font-size: 0.8em;
        font-family: $font-family;
        display: flex;
        align-items: center;
        gap: 5px;
        color: #252526;
        cursor: pointer;

        svg {
            height: 18px;
            width: 18px;
            fill: #252526;
        }
    }

    .auth-ways {
        display: flex;
        column-gap: 8px;

        a {
            width: 120px;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #252526;
            background-color: #FFF;
            font-weight: 500;
            font-family: $font-family;
            color: #252526;
        }
    }

    .user-box {
        position: relative;

        & > div {
            display: flex;
        }

        .notifications-btn {
            padding: 0;
            width: 35px;
            height: 35px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            border-radius: 50%;
            border: none;
            background-color: #FFF;
            cursor: pointer;

            svg {
                width: 18px;
                height: 18px;
                fill: #252526;
            }
        }

        .fast-info {
            margin-left: 20px;
            font-family: $font-family;
            display: flex;
            align-items: center;

            .avatar {
                margin-right: 8px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }

            .username {
                height: fit-content;
                font-weight: 600;
                font-size: 0.9em;
                color: #252526;
            }
        }
    }

    .end {
        display: flex;
    }
}