@font-face { font-family: 'Sora'; src: url('/assets/fonts/Sora.ttf'); }

$font-family: 'Sora';

:host(.viewstyle-opaque) {
    box-shadow: rgba(149, 157, 165, 0.3) 0px 4px 12px;
    background-color: #FFF;
}

:host {
    padding: 0 100px;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: #FFF;
    user-select: none;

    a {
        text-decoration: none;
    }

    .app-name {
        margin-right: 25px;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.4em;
        font-family: $font-family;
        color: #3E3F5E;
    }

    .navbar {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 45px;
        list-style-type: none;
    
        .item {
            padding: 0 15px 0 15px;
            width: fit-content;
            height: 35px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;

            &:hover .item-link {
                transform: translate(0, -5px);
            }

            &:hover > .dropdown-wrapper {
                visibility: visible;
                opacity: 1;
            }
    
            .item-link, & > span {
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                text-decoration: none;
                font-family: $font-family;
                font-weight: 600;
                font-size: .9em;
                color: #3E3F5E;
            }

            .item-link {
                transition: transform ease .3s;
            }
        }

        .unfoldable-item {

            &::after {
                width: 0;
                height: 0;
                position: relative;
                left: 8px;
                display: inline-block;
                content: "";
                border-color: #3E3F5E transparent transparent;
                border-radius: 8px;
                border-width: 6px 6px 0;
                border-style: solid;
            }
    
            &:hover::after {
                transform: rotate(180deg);
            }

            .dropdown-wrapper {
                padding-top: 25px;
                padding-left: 25px;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity .3s linear;

                .dropdown {
                    padding: 12px;
                    display: grid;
                    grid-template-columns: repeat(1, 300px);
                    grid-gap: 12px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    border-radius: 15px;
                    background-color: #FFF;

                    .dropdown-item {
                        padding: 0 12px 0 12px;
                        height: 80px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        text-decoration: none;

                        &:hover {
                            background-color: #F8F8F8;
                        }

                        a {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            column-gap: 15px;

                            .dropdown-item-icon {
                                width: 50px;
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                                border-radius: 5px;
                                
                                svg {
                                    width: 28px;
                                    height: 28px;
                                    fill: #3E3F5E;
                                }
                            }
    
                            .dropdown-item-info {
                                font-family: $font-family;
    
                                .name {
                                    font-weight: 600;
                                    font-size: .9em;
                                    color: #3E3F5E;
                                }
    
                                .description {
                                    margin: 5px 0 0 0;
                                    max-width: 200px;
                                    font-size: .9em;
                                    color: #ADAFCA;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .end {
        display: flex;
        gap: 32px;

        .langs {
            margin-right: 25px;
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 700;
            font-size: .8em;
            font-family: $font-family;
            color: #3E3F5E;
            cursor: pointer;
    
            .lang-current {
                text-transform: uppercase;
            }
    
            svg {
                height: 18px;
                width: 18px;
                fill: #3E3F5E;
            }
    
            &:hover .wrapper {
                visibility: visible;
                opacity: 1;
            }
    
            .wrapper {
                width: 150px;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity .3s linear;
    
                .list {
                    margin: 16px 0 0 0;
                    padding: 0;
                    list-style-type: none;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    border-radius: 8px;
                    background-color: #FFF;
        
                    li {
                        padding: 16px;
                        position: relative;
                        text-align: center;
                        font-weight: 700;
                        font-size: 1.1em;
                        color: #3E3F5E;
    
                        &:hover::before {
                            display: inline-block;
                        }
                
                        &::before {
                            margin: 0 5px 1px 0;
                            width: 0;
                            height: 0;
                            position: relative;
                            display: none;
                            content: '';
                            border-color: #3E3F5E transparent transparent;
                            border-style: solid;
                            border-width: 6px 6px 0;
                            border-radius: 8px;
                            transform: rotate(270deg);
                            transition: border-color 0.5s;
                        }
                    }
                }
            }
        }
    
        .auth-ways {
            display: flex;
            column-gap: 8px;
    
            a {
                padding: 0 16px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                background-color: #FFF;
                font-weight: 500;
                font-size: .9em;
                font-family: $font-family;
                color: #FFF;
                cursor: pointer;
            }
    
            .login {
                background-color: #50D8D7;
    
                &:hover {
                    background-color: #43D5D4;
                }
            }
    
            .signup {
                background-color: #F6AE2D;
    
                &:hover {
                    background-color: #F5A81F;
                }
            }
        }
    
        .user-box {
            position: relative;
            display: flex;
            justify-content: baseline;
            cursor: pointer;

            &:hover .wrapper {
                visibility: visible;
                opacity: 1;
            }
            
            .user-avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            svg {
                margin-bottom: 5px;
                width: 24px;
                height: 24px;
                align-self: flex-end;
                fill: #3E3F5E;
                cursor: pointer;
            }

            .wrapper {
                width: 200px;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity .3s linear;

                .dropdown {
                    margin-top: 16px;
                    padding-top: 16px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 8px;
                    overflow: hidden;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    border-radius: 8px;
                    background-color: #FFF;
                    cursor: default;

                    .user-avatar {
                        width: 72px;
                        height: 72px;
                    }

                    .user-username {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .raw {
                            color: #3E3F5E;
                        }

                        .with-tag {
                            font-size: .85em;
                            color: #ADAFCA;

                            &:hover {
                                text-decoration: underline;
                            }
                            
                            &:before {
                                content: "@";
                            }
                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        list-style-type: none;

                        li {
                            margin-bottom: 8px;
                            height: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            color: #3E3F5E;
                            font-size: .9em;
                            cursor: pointer;

                            &:hover {
                                background-color: #5465FF;
                                color: #FFF;

                                svg {
                                    fill: #FFF;
                                }

                                a {
                                    color: #FFF;
                                }
                            }

                            &:last-child:hover {
                                background-color: #FF5252;
                            }

                            svg {
                                width: 20px;
                                height: 20px;
                                fill: #3E3F5E;
                            }

                            a {
                                color: #3E3F5E;
                            }
                        }
                    }
                }
            }
        }
    }
}