:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  .users {
    width: 100%;
    display: grid;
    box-sizing: border-box;
  }

  .display-grid {
    grid-template-columns: repeat(auto-fit, 260px);
    column-gap: 24px;
  }
}
