:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 64px;

    .found-themes {
      margin-top: 64px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 12px;

      .theme-selected {
        filter: brightness(90%);
      }

      span {
        padding: 8px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: var(--color-tertiary);
        font-weight: 500;
        font-size: var(--preset-font-size-small);
        color: #FFF;
        cursor: pointer;
      }
    }

    .items {
      width: 100%;
      display: grid;
      justify-content: center;
      box-sizing: border-box;
    }

    .display-grid {
      grid-template-columns: repeat(auto-fit, 280px);
      row-gap: 48px;
      column-gap: 32px;
    }

    .display-list {
      grid-template-columns: repeat(1, 100%);
      gap: 16px;
    }

    .more {
      padding: 8px;
      width: fit-content;
      box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
      border-radius: 8px;
      background-color: #FFF;

      .show-more-btn {
        padding: 0 16px;
        min-width: 200px;
        height: 48px;
        border: none;
        border-radius: 8px;
        background-color: var(--color-secondary);
        font-weight: 600;
        font-family: 'Sora';
        font-size: var(--preset-font-size-normal);
        color: #FFF;
        cursor: pointer;

        &:hover {
          background-color: var(--color-secondary-hover);
        }
      }
    }

    .page-nav {
      display: flex;
      gap: 32px;

      > div {
        padding: 4px;
        min-width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
        border-radius: 8px;
        background-color: #FFF;
        cursor: pointer;

        > div {
          padding: 0 8px;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: var(--color-secondary);

          &:hover {
            background-color: var(--color-secondary-hover);
          }

          span, label {
            height: fit-content;
            display: inline-block;
            word-spacing: 4px;
            font-size: var(--preset-font-size-normal);
            color: #FFF;
          }

          input {
            margin-right: 4px;
            padding: 0;
            width: 26px;
            height: 80%;
            outline: none;
            border: none;
            background-color: transparent;
            text-align: center;
            text-overflow: ellipsis;
            font-size: var(--preset-font-size-normal);
            font-family: 'Sora';
            color: #FFF;
          }
        }
      }
    }
  }
}
