<div class="auth-box">
    <div class="auth-box-header">
        <h1>Sign up to Daify</h1>
    </div>
    <div class="auth-box-body">
        <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="input-wrapper">
                <div class="input-box">
                    <label for="username">Username</label>
                    <input id="username" class="form-control" #text_input type="text" name="username" formControlName="username">
                </div>
              <p class="form-error" *ngIf="errors?.username">{{errors.username}}</p>
            </div>
            <div class="input-wrapper">
                <div class="input-box">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" #text_input type="text" name="email" formControlName="email">
                </div>
              <p class="form-error" *ngIf="errors?.email">{{errors.email}}</p>
            </div>
            <div class="input-wrapper">
                <div class="input-box">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" #text_input type="password" name="password" formControlName="password">
                </div>
              <p class="form-error" *ngIf="errors?.password">{{errors.password}}</p>
            </div>
            <div class="input-wrapper">
                <div class="input-box">
                    <label for="password-confirm">Confirm Password</label>
                    <input id="password-confirm" class="form-control" #text_input type="password" name="password-confirm" formControlName="password_confirm">
                </div>
                <p class="form-error" *ngIf="errors?.agreements">{{errors.confirm}}</p>
            </div>
            <div class="input-wrapper">
                <div class="agreements">
                    <label for="agreements">
                        <input id="agreements" class="form-control" type="checkbox" name="agreements" formControlName="agreements">
                        Creating an account means you agree to our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.
                    </label>
                </div>
                <p class="form-error" *ngIf="errors?.agreements">{{errors.agreements}}</p>
            </div>
            <button class="confirm" type="submit">Sign up</button>
        </form>
        <p class="no-account">
            Already registered?
            <a [routerLink]="['/auth/login']">Log in</a>
        </p>
    </div>
</div>
