:host {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;

  @keyframes panel-forward {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }

  @keyframes auth-box-forward {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

  .auth-panel {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 32px 0 0 32px;
    background-color: var(--color-primary);
    animation: panel-forward 1.5s;

    svg {
      width: 80px;
      height: 80px;
      fill: #FFF;
    }

    h2 {
      font-weight: 700;
      font-size: var(--preset-font-size-x-large);
      color: #FFF;
    }
  }

  .auth-box {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 32px 32px 0;
    background-color: #FFF;
    animation: auth-box-forward 1.5s;

    .user-input {
      width: 100%;
    }

    .auth-box-header {
      margin-bottom: 32px;

      h1 {
        margin: 0;
        text-align: center;
        font-size: 2.5em;
        color: var(--color-text);
      }
    }

    .auth-box-body {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .signup-form {
        margin-bottom: 24px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .agreements {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 8px;
          user-select: none;
          line-height: 20px;

          label {
            font-size: .9em;
            color: var(--color-text);
            cursor: pointer;

            .form-control[type=checkbox] {
              width: 16px;
              height: 16px;
              cursor: pointer;
            }

            a {
              text-decoration: none;
              font-weight: 500;
              color: var(--color-primary);

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .confirm {
          width: 100%;
          min-width: 200px;
          height: 46px;
          border: none;
          border-radius: 4px;
          background-color: var(--color-primary);
          font-weight: 600;
          font-size: 1em;
          color: #FFF;
          cursor: pointer;

          &:hover {
            background-color: #4A3DDF;
          }
        }
      }

      .no-account {
        margin: 0;
        display: flex;
        gap: 8px;
        color: var(--color-text);

        a {
          text-decoration: none;
          color: #F46197;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .op-success {
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-icon {
      width: 48px;
      height: 48px;
      fill: #4CAF50;
    }

    .title {
      margin: 16px 0 0 0;
      max-width: 300px;
      text-align: center;
      font-weight: 700;
      font-size: var(--preset-font-size-medium);
      color: var(--color-text);
    }

    .instructions {
      margin-top: 16px;
      max-width: 450px;
      padding: 16px;
      color: var(--color-text);

      p:nth-child(1) {
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: calc(var(--preset-font-size-normal) + 2px);
      }

      .message {
        margin-top: 16px;
        max-width: 500px;
        display: inline-block;
        text-align: center;

        .value {
          display: inline-block;
          font-weight: 600;
          color: var(--color-primary);
        }
      }
    }
  }

  .user-input-active {

    label {
      padding: 0 4px;
      top: 0;
      left: 16px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      font-size: .75em;
    }
  }
}
