@keyframes show {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

:host {
  padding: 8px 32px;
  width: 100%;
  min-height: 72px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4%;
  row-gap: 8px;
  animation: show 2s;
  box-shadow: rgba(#000000, 0.1) 0 1px 3px 0, rgba(#000000, 0.06) 0 1px 2px 0;
  box-sizing: border-box;
  background-color: var(--color-secondary);

  p {
    max-width: 50%;
    line-height: 24px;
    color: #FFF;
  }

  .cookies-action {
    display: flex;
    column-gap: 16px;

    button {
      padding: 0 16px;
      min-height: 40px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
      border: none;
      border-radius: 8px;
      background-color: var(--color-tertiary);
      font-weight: 500;
      color: #FFF;

      &:hover {
        bottom: -1px;
        filter: brightness(98%);
      }
    }
  }

  .close {
    border: none;
    background-color: transparent;

    svg {
      width: 20px;
      height: 20px;
      fill: #FFF;
    }
  }
}
