:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-content {
    width: 60%;
    display: flex;
    flex-direction: column;

    .profile-header {
      width: 100%;
      height: 300px;
      position: relative;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
      border-radius: 16px;
      overflow: hidden;
      background-color: #FFF;

      .profile-header-banner {
        width: 100%;
        height: 60%;
        position: relative;
        background-size: cover;
        background-color: #E6E6EF;
      }

      .profile-header-avatar {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 35%);
        border-radius: 50%;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          height: 90%;
          border-radius: 50%;
        }
      }

      .profile-header-bottom {
        padding: 32px;
        height: 40%;
        box-sizing: border-box;
      }
    }
  }
}