<h1>Settings</h1>
<div class="challenge-settings" [formGroup]="challengeForm">
  <div class="challenge-settings-sections">
    <ul>
      <li [class.challenge-settings-sections-active]="isOnSection('overview')" (click)="onSection('overview')">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <path
            d="M30.94 15.66A16.69 16.69 0 0 0 16 5A16.69 16.69 0 0 0 1.06 15.66a1 1 0 0 0 0 .68A16.69 16.69 0 0 0 16 27a16.69 16.69 0 0 0 14.94-10.66a1 1 0 0 0 0-.68ZM16 25c-5.3 0-10.9-3.93-12.93-9C5.1 10.93 10.7 7 16 7s10.9 3.93 12.93 9C26.9 21.07 21.3 25 16 25Z"/>
          <path d="M16 10a6 6 0 1 0 6 6a6 6 0 0 0-6-6Zm0 10a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/>
        </svg>
        Overview
      </li>
      <li [class.challenge-settings-sections-active]="isOnSection('schedule')" (click)="onSection('schedule')">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <path d="M21 30a8 8 0 1 1 8-8a8 8 0 0 1-8 8Zm0-14a6 6 0 1 0 6 6a6 6 0 0 0-6-6Z"/>
          <path d="M22.59 25L20 22.41V18h2v3.59l2 2L22.59 25z"/>
          <path
            d="M28 6a2 2 0 0 0-2-2h-4V2h-2v2h-8V2h-2v2H6a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h4v-2H6V6h4v2h2V6h8v2h2V6h4v6h2Z"/>
        </svg>
        Schedule
      </li>
      <li [class.challenge-settings-sections-active]="isOnSection('members')" (click)="onSection('members')">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <path
            d="M31 30h-2v-3a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3v3h-2v-3a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5zm-7-18a3 3 0 1 1-3 3a3 3 0 0 1 3-3m0-2a5 5 0 1 0 5 5a5 5 0 0 0-5-5zm-9 12h-2v-3a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v3H1v-3a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5zM8 4a3 3 0 1 1-3 3a3 3 0 0 1 3-3m0-2a5 5 0 1 0 5 5a5 5 0 0 0-5-5z"/>
        </svg>
        Members
      </li>
      <li [class.challenge-settings-sections-active]="isOnSection('deposits')" (click)="onSection('deposits')">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <path
            d="m25.7 9.3l-7-7c-.2-.2-.4-.3-.7-.3H8c-1.1 0-2 .9-2 2v24c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V10c0-.3-.1-.5-.3-.7zM18 4.4l5.6 5.6H18V4.4zM24 28H8V4h8v6c0 1.1.9 2 2 2h6v16z"/>
          <path d="M10 22h12v2H10zm0-6h12v2H10z"/>
        </svg>
        Deposits
      </li>
      <li class="settings-action" *ngIf="hasBeenUpdated" (click)="onCancel()">
        <button class="settings-action-cancel-btn">Cancel</button>
      </li>
      <li class="settings-action" *ngIf="hasBeenUpdated" (click)="onSave()">
        <button class="settings-action-save-btn" type="submit">Save</button>
      </li>
    </ul>
  </div>
</div>
