.splash-screen {
  opacity: 1;
  animation: splash-hide 1s linear;
  animation-delay: 2s;
  transition: opacity 1s;
}

@keyframes splash-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
