:host {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, .1) 0px 8px 24px;
    border-radius: 16px;
    background-color: #FFF;

    .user-banner {
        width: 100%;
        height: 80px;
        position: relative;
        background-color: var(--color-secondary);
        background: url('https://i.pinimg.com/originals/b1/da/c0/b1dac0470bdf2f7cc0c559599fba19f9.jpg') no-repeat;
        background-size: 100%;

        .user-avatar {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #FFF;

            img {
                width: 90%;
                height: 90%;
                border-radius: 50%;
            }
        }
    }

    .user-username {
        margin: 56px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        color: var(--color-text);

        .with-tag {
            margin: 0;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            font-size: var(--preset-font-size-tiny);
            color: var(--color-text-alt);

            &:before {
                content: "@";
            }
        }
    }

    .user-activity-status {
        margin-top: 8px;
        padding: 2px 8px;
        width: fit-content;
        display: flex;
        align-items: center;
        border-radius: 16px;
        background-color: #F3F3F3;
        font-weight: 500;
        font-size: var(--preset-font-size-tiny);
        color: var(--color-text-alt);

        .indicator {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 8px;
        }

        .online {
            background-color: #4CAF50;
        }

        .offline {
            background-color: #F44336;
        }
    }
    
    .user-socials {
        margin-top: 24px;
        padding: 8px 40px;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 8px;
        overflow: hidden;

        .social-link {
            width: 32px;
            min-width: 32px;
            height: 32px;
            transition: transform ease .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            

            &:hover {
                transform: translate(0, -3px);
            }

            svg {
                width: 12px;
                height: 12px;
                fill: #FFF;
            }
        }
    }
}