:host {
    
    .items {
        padding: 60px;
        display: grid;
        justify-content: center;
        align-items: stretch;
        box-sizing: border-box;
        background-color: #F8F8FB;
    }

    .display-grid {
        grid-template-columns: repeat(auto-fit, 380px);
        gap: 64px;
    }

    .display-list {
        grid-template-columns: repeat(1, 70%);
        gap: 32px;
    }
}