@font-face { font-family: 'Sora'; src: url('/assets/fonts/Sora.ttf'); }

$font-family: 'Sora';

:host {
    padding: 32px 0;
    background-color: #FFF;

    .main-content {

        .social-items {
            display: flex;
            justify-content: center;
            gap: 32px;

            a {
                transition: transform ease .3s;

                &:hover {
                    transform: translate(0, -3px);
                }

                svg {
                    width: 24px;
                    height: 24px;
                    fill: #3E3F5E;
                }
            }
        }
    }

    .lower-content {
        margin: 32px auto 0 auto;
        padding-top: 16px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #E6E6EF;
        font-weight: 500;
        font-family: $font-family;
        color: #3E3F5E;

        ul {
            display: flex;
            gap: 16px;
            list-style-type: none;

            a { 
                text-decoration: none;
                color: #3E3F5E;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}