:host {
  margin-top: 64px;
  padding: 48px 0 24px 0;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0px, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
  background-color: #FFF;

  .content {

    .social-items {
      display: flex;
      justify-content: center;
      gap: 32px;

      a {
        transition: transform ease .3s;

        &:hover {
          transform: translate(0, -3px);
        }

        svg {
          width: 24px;
          height: 24px;
          fill: var(--color-text);
        }
      }
    }
  }

  .lower-content {
    margin: 32px auto 0 auto;
    padding-top: 24px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    border-top: 1px solid #E6E6EF;
    font-weight: 500;
    font-size: var(--preset-font-size-normal);
    color: var(--color-text);

    ul {
      display: flex;
      gap: 16px;
      list-style-type: none;

      a {
        width: 100%;
        text-align: center;
        display: block;
        text-decoration: none;
        color: var(--color-text);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/*@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }*/

@media all and (min-width: 480px) and (max-width: 768px) {

  .lower-content {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media all and (max-width: 480px) {

  .lower-content {
    flex-direction: column;
    align-items: center;
    gap: 24px;

    ul {
      flex-direction: column;
      gap: 24px!important;
    }
  }
}
