:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-2);

  .econtent {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .section-banner {
      margin-bottom: 64px;
      padding: 32px 64px;
      min-height: 180px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      box-shadow: rgba(149, 157, 165, .1) 0px 8px 24px;
      border-radius: 8px;
      background: linear-gradient(90deg, var(--color-primary) 10%, var(--color-secondary) 100%);

      .banner-details {

        .banner-details-title {
          margin: 0 0 8px 0;
          font-weight: 600;
          font-size: var(--preset-font-size-large);
          color: #FFF;
        }

        .banner-details-description {
          margin: 16px 0 0 0;
          font-size: var(--preset-font-size-normal);
          color: #FFF;
        }
      }
    }

    h1 {
      margin: 56px 0 0 0;
      font-weight: 600;
      font-size: var(--preset-font-size-large);
      color: var(--color-text);
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;


      .create-challenge-btn {
        background-color: var(--color-secondary);
      }

      .cancel-challenge-btn {
        background-color: var(--color-tertiary);
      }
    }

    .file-upload {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .challenge-preview-banner {
      margin-bottom: 32px;
      width: 100%;
      height: 200px;
      position: relative;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.025);

      .placeholder {
        padding: 32px 0;
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          width: 40px;
          height: 40px;
          fill: var(--color-text-alt-2);
        }

        p {
          margin: 16px 0 0 0;
          max-width: 400px;
          text-align: center;
          font-weight: 500;
          color: var(--color-text-alt-2);
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
      }
    }

    .edit-zone {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;

      > div {
        padding: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #FFF;
      }

      .challenge-preview-icon {
        width: 180px;
        height: 180px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 50%;
        background-color: #F9F9F9;
        cursor: pointer;

        .file-upload {
          border-radius: 50%;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .attr {
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;

        .attr-key {
          margin: 0;
          font-weight: 600;
          color: var(--color-text);
        }

        .attr-description {
          margin: 8px 0 16px 0;
          font-size: var(--preset-font-size-small);
          color: var(--color-text-alt);
        }

        .user-input {
          width: 50%;
        }

        input[type=checkbox] {
          width: 16px;
          height: 16px;
          cursor: pointer;
        }

        textarea {
          padding: 24px;
          height: 150px;
        }

        .challenge-tag-list {
          margin: 0 0 16px 0;
          padding: 0;
          display: flex;
          gap: 16px;
          list-style-type: none;

          li {
            padding: 6px 8px 6px 10px;
            min-width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
            border-radius: 16px;
            background-color: var(--color-tertiary);
            font-weight: 500;
            font-size: var(--preset-font-size-tiny);
            color: #FFF;
            cursor: pointer;

            svg {
              width: 16px;
              height: 16px;
              fill: #FFF;
            }
          }
        }
      }
    }

    .action-bar {
      margin: 24px 0;
      padding: 32px;
      width: 100%;
      min-height: 80px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;
      box-shadow: rgba(149, 157, 165, .1) 0px 8px 24px;
      border-radius: 8px;
      background-color: #FFF;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
          background-color: var(--color-tertiary-hover);
        }
      }

      input[type=submit] {

        &:hover {
          background-color: var(--color-secondary-hover);
        }
      }

      a, input[type=submit] {
        padding: 0 16px;
        height: 40px;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: var(--preset-font-size-small);
        font-family: 'Sora';
        color: #FFF;
        cursor: pointer;
      }
    }
  }
}

.align-center {
  align-items: center;
}
