<div class="challenge-preview-banner" [ngStyle]="{'background-image': 'url('+ challenge.coverUrl +')'}"></div>
<div class="challenge-preview-info">
    <div class="challenge-short-description">
        <p class="challenge-short-description-name">{{challenge.name}}</p>
        <p class="challenge-short-description-text">{{challenge.description}}</p>
    </div>
    <ul class="challenge-stats">
        <li>
            <p class="value">{{getDuration()}}</p>
            <p class="name">Duration</p>
        </li>
        <li>
            <p class="value">25/{{challenge.config.capacity}}</p>
            <p class="name">Members</p>
        </li>
        <li>
            <p class="value">{{challenge.config.groupSize}}</p>
            <p class="name">Groups</p>
        </li>
    </ul>
    <ul class="challenge-tags" #tag_list>
        <li *ngFor="let tag of challenge.tags">{{tag}}</li>
    </ul>
</div>











































<!--<div class="challenge-preview-cover" [ngStyle]="{'background-image': 'url('+ challenge.coverUrl +')'}">
    <div></div>
</div>
<div class="presentation">
    <p class="challenge-name">{{challenge.name || "Unknown"}}</p>
    <p class="challenge-description">{{challenge.description || "No description provided"}}</p>
</div>
<div class="challenge-stats">
    <div>
        <p class="value">{{getDuration()}}</p>
        <p class="name">Duration</p>
    </div>
    <div>
        <p class="value">25/{{challenge.config.capacity}}</p>
        <p class="name">Members</p>
    </div>
    <div>
        <p class="value">{{challenge.config.groupSize}}</p>
        <p class="name">Groups</p>
    </div>
</div>
<ul class="challenge-tags" #tag_list>
    <li class="item" *ngFor="let tag of challenge.tags">{{tag}}</li>
</ul>
<div class="challenge-author">
    <img class="avatar" src="https://fr.web.img6.acsta.net/medias/nmedia/18/78/46/81/19127253_fa1_vf.jpg" alt="">
    <p class="username">
        By
        <a [routerLink]="['/users/profile/', challenge.author.id]">{{challenge.author.username}}</a>
    </p>
</div>-->