:host {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  h1 {
    margin: 32px 0 0 16px;
    font-size: var(--preset-font-size-large);
    color: var(--color-text);
  }

  h2 {
    font-size: var(--preset-font-size-medium);
    color: var(--color-text);
  }

  .leaderboard-criteria {
    padding: 32px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
    border-radius: 16px;
    background-color: #FFF;

    .leaderboard-criteria-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 160px);
      justify-content: center;
      align-items: center;
      gap: 32px;

      > div {
        padding: 16px;
        height: 160px;
        position: relative;
        box-sizing: border-box;
        border-radius: 16px;
        background-color: rgba(#000000, .03);
        color: rgba(#000000, .4);

        .leaderboard-criteria-about {
          position: absolute;
          top: 16px;
          right: 16px;

          svg {
            width: 20px;
            height: 20px;
            fill: rgba(#000000, .4);
            cursor: pointer;
          }
        }

        .leaderboard-criteria-coefficient {
          max-width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 4px;
          font-weight: 600;

          p {
            font-size: var(--preset-font-size-tiny);
          }

          span {
            font-size: var(--preset-font-size-medium);
          }
        }

        > p {
          height: 88px;
          display: flex;
          align-items: center;
          font-weight: 500;
        }
      }
    }
  }

  .leaderboard-scores {
    padding: 32px 32px 80px 32px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, .1) 0 8px 24px;
    border-radius: 16px;
    background-color: #FFF;

    .leaderboard-scores-podium {
      width: fit-content;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      column-gap: 16px;
      align-items: flex-end;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;

        .leaderboard-scores-podium-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 16px;

          .leaderboard-scores-podium-group-icon {
            width: 112px;
            height: 112px;
            overflow: hidden;
            border-radius: 50%;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .leaderboard-scores-podium-group-name {
            font-weight: 600;
            color: var(--color-text-alt-2);
          }
        }
      }

      .leaderboard-scores-podium-texture {
        width: 200px;
        position: relative;
        display: flex;
        align-items: flex-end;

        svg {
          width: 0;
          height: 0;
        }

        @keyframes podium-child-display-delay {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .leaderboard-scores-podium-tag {
          max-width: 60%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          font-weight: 600;
          font-size: calc(var(--preset-font-size-normal) + .3em);
          color: rgba(#000000, .40);
        }

        .leaderboard-scores-podium-group-score {
          padding: 4px 8px;
          max-width: 60%;
          position: absolute;
          top: calc(50% + 24px);
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          border-radius: 8px;
          //background-color: rgba(#FFFFFF, .6);
          font-weight: 500;
          font-size: var(--preset-font-size-small);
          color: rgba(#000000, .40);
        }
      }

      @keyframes podium-1st-anim {
        from {
          width: 200px;
          height: 1px;
        }
        to {
          width: 200px;
          height: 300px;
        }
      }

      .leaderboard-scores-podium-1st {

        svg {
          animation: 1s podium-1st-anim;
          animation-fill-mode: forwards;
        }
      }

      @keyframes podium-2nd-anim {
        from {
          width: 200px;
          height: 1px;
        }
        to {
          width: 200px;
          height: 250px;
        }
      }

      .leaderboard-scores-podium-2nd {

        svg {
          animation: 1s podium-2nd-anim;
          animation-fill-mode: forwards;
          animation-delay: 1s;
        }
      }

      @keyframes podium-3rd-anim {
        from {
          width: 200px;
          height: 1px;
        }
        to {
          width: 200px;
          height: 180px;
        }
      }

      .leaderboard-scores-podium-3rd {

        svg {
          animation: 1s podium-3rd-anim;
          animation-fill-mode: forwards;
          animation-delay: 2s;
        }
      }
    }

    .leaderboard-scores-time-remaining {

      p {
        text-align: center;

        &:nth-child(1) {
          margin-bottom: 16px;
          font-weight: 600;
          font-size: var(--preset-font-size-medium);
          color: var(--color-text);
        }

        &:nth-child(2) {
          margin: 0 auto 16px auto;
          max-width: 60%;
          color: var(--color-text-alt-2);
        }
      }

      .leaderboard-scores-time-remaining-countdown {

        .countdown-value {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          .countdown-value-temporal-unit {
            min-width: 56px;
            display: flex;
            align-items: center;

            > div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            span {
              margin-top: 4px;
              font-weight: 500;
              font-size: var(--preset-font-size-tiny);
              color: var(--color-text-alt);
            }

            .countdown-value-temporal-unit-dots {
              margin-right: 8px;
              height: fit-content;
              position: relative;
              bottom: 6px;
              font-weight: 600;
              font-size: var(--preset-font-size-small);
              color: var(--color-text);
            }

            .countdown-value-temporal-unit-value {
              margin-top: 8px;
              display: flex;
              gap: 4px;

              > div {
                padding: 10px;
                border-radius: 4px;
                background-color: rgba(#000000, .060);
                font-weight: 600;
                font-size: var(--preset-font-size-small);
                color: var(--color-text);
              }
            }
          }
        }
      }
    }

    .leaderboard-scores-grid {
      margin: 0 5%;
      display: flex;
      overflow-y: auto;

      .self-group {
        font-weight: 500;
        color: var(--color-text) !important;

        span {
          font-weight: 500;
          color: var(--color-text) !important;
        }
      }

      .leaderboard-scores-grid-groups {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .leaderboard-scores-grid-groups-header {
          height: 64px;
          display: flex;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            color: var(--color-text-alt);

            &:nth-child(1) {
              width: 200px;
            }

            &:nth-child(2) {
              width: 64px;
            }
          }
        }

        > div {
          padding-left: 16px;
          height: 80px;
          display: flex;
          border-radius: 16px 0 0 16px;
          color: var(--color-text-alt-2);

          &:nth-child(odd) {
            background-color: rgba(#000000, .03);
          }

          &:nth-child(even) {
            background-color: rgba(#000000, .02);
          }

          &:nth-child(2) .group-rank p {
            background-color: #FFCE68;
          }

          &:nth-child(3) .group-rank p {
            background-color: #D7D7D7;
          }

          &:nth-child(4) .group-rank p {
            background-color: #BEA098;
          }

          > div {
            width: 200px;
            display: flex;
            align-items: center;
            column-gap: 16px;

            .group-icon {
              width: 56px;
              height: 56px;
              overflow: hidden;
              border-radius: 50%;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .group-rank {
            width: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-text-alt);

            p {
              padding: 8px;
              border-radius: 8px;
              font-size: var(--preset-font-size-small);
              background-color: rgba(#000000, .15);
              color: #FFF;
            }
          }
        }
      }

      .leaderboard-scores-grid-groups-criteria {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        overflow-x: auto;

        .leaderboard-scores-grid-groups-criteria-header {
          height: 64px;
          display: flex;
          column-gap: 16px;

          li {
            width: calc(100% / 5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            color: var(--color-text-alt);
          }
        }

        > div {
          //padding-right: 16px;
          width: 100%;
          height: 80px;
          display: flex;
          column-gap: 16px;
          border-radius: 0 16px 16px 0;

          &:nth-child(odd) {
            background-color: rgba(#000000, .03);
          }

          &:nth-child(even) {
            background-color: rgba(#000000, .02);
          }

          .group-criteria-note {
            width: calc(100% / 5);
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2px;
            color: var(--color-text-alt-2);

            span {

              &:first-child {
                font-weight: 500;
                font-size: var(--preset-font-size-medium);
              }

              &:last-child {
                font-size: var(--preset-font-size-tiny);
              }
            }
          }
        }
      }
    }
  }
}
