<h1>Leaderboard</h1>
<div class="leaderboard-criteria">
  <h2>Rating Criteria</h2>
  <div class="leaderboard-criteria-grid">
    <div *ngFor="let ratingCriteria of ratingCriteria">
      <div class="leaderboard-criteria-about" tooltip="{{ratingCriteria.description}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
          <path
            d="M7.92 7.54c-.8-.34-1.14-1.33-.66-2.05C8.23 4.05 9.85 3 11.99 3c2.35 0 3.96 1.07 4.78 2.41c.7 1.15 1.11 3.3.03 4.9c-1.2 1.77-2.35 2.31-2.97 3.45c-.15.27-.24.49-.3.94c-.09.73-.69 1.3-1.43 1.3c-.87 0-1.58-.75-1.48-1.62c.06-.51.18-1.04.46-1.54c.77-1.39 2.25-2.21 3.11-3.44c.91-1.29.4-3.7-2.18-3.7c-1.17 0-1.93.61-2.4 1.34c-.35.57-1.08.75-1.69.5zM14 20c0 1.1-.9 2-2 2s-2-.9-2-2s.9-2 2-2s2 .9 2 2z"/>
        </svg>
      </div>
      <div class="leaderboard-criteria-coefficient">
        <p>Coeff.</p>
        <span>{{ratingCriteria.weight}}</span>
      </div>
      <p>{{ratingCriteria.name}}</p>
    </div>
  </div>
</div>
<div class="leaderboard-scores">
  <h2>Scores</h2>
  <div class="leaderboard-scores-podium" *ngIf="isVotingTimeStarted()">
    <div class="leaderboard-scores-podium-2nd">
      <div class="leaderboard-scores-podium-group">
        <div class="leaderboard-scores-podium-group-icon">
          <img [src]="'assets/challenge_group_placeholder.svg'" alt="">
        </div>
        <p class="leaderboard-scores-podium-group-name">{{getRanking(2).group.name || ''}}</p>
      </div>
      <div class="leaderboard-scores-podium-texture">
        <svg viewBox="0 0 200 250" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 32C0 14.3269 14.3269 0 32 0H168C185.673 0 200 14.3269 200 32V242C200 246.418 196.418 250 192 250H8C3.58173 250 0 246.418 0 242V32Z"
            fill="#D7D7D7"/>
        </svg>
        <span class="leaderboard-scores-podium-tag">2nd</span>
        <div class="leaderboard-scores-podium-group-score">{{getRanking(2).rating || 0}} PTS</div>
      </div>
    </div>
    <div class="leaderboard-scores-podium-1st">
      <div class="leaderboard-scores-podium-group">
        <div class="leaderboard-scores-podium-group-icon">
          <img [src]="'assets/challenge_group_placeholder.svg'" alt="">
        </div>
        <p class="leaderboard-scores-podium-group-name">{{getRanking(1).group.name || ''}}</p>
      </div>
      <div class="leaderboard-scores-podium-texture">
        <svg viewBox="0 0 200 300" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 32C0 14.3269 14.3269 0 32 0H168C185.673 0 200 14.3269 200 32V292C200 296.418 196.418 300 192 300H8C3.58173 300 0 296.418 0 292V32Z"
            fill="#FFCE68"/>
        </svg>
        <span class="leaderboard-scores-podium-tag">1st</span>
        <div class="leaderboard-scores-podium-group-score">{{getRanking(1).rating || 0}} PTS</div>
      </div>
    </div>
    <div class="leaderboard-scores-podium-3rd">
      <div class="leaderboard-scores-podium-group">
        <div class="leaderboard-scores-podium-group-icon">
          <img [src]="'assets/challenge_group_placeholder.svg'" alt="">
        </div>
        <p class="leaderboard-scores-podium-group-name">{{getRanking(3).group.name || ''}}</p>
      </div>
      <div class="leaderboard-scores-podium-texture">
        <svg viewBox="0 0 200 180" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 32C0 14.3269 14.3269 0 32 0H168C185.673 0 200 14.3269 200 32V172C200 176.418 196.418 180 192 180H8C3.58173 180 0 176.418 0 172V32Z"
            fill="#BEA098"/>
        </svg>
        <span class="leaderboard-scores-podium-tag">3rd</span>
        <div class="leaderboard-scores-podium-group-score">{{getRanking(3).rating || 0}} PTS</div>
      </div>
    </div>
  </div>
  <div class="leaderboard-scores-time-remaining" *ngIf="!isVotingTimeStarted()">
    <p>Ratings have not started yet!</p>
    <p>There is some remaining time before the rating period.</p>
    <div class="leaderboard-scores-time-remaining-countdown">
      <div class="countdown-value">
        <div class="countdown-value-temporal-unit">
          <div>
            <div class="countdown-value-temporal-unit-value">
              <div *ngFor="let i of extract(countdown.days)">{{i}}</div>
            </div>
            <span>Days</span>
          </div>
        </div>
        <div class="countdown-value-temporal-unit">
          <span class="countdown-value-temporal-unit-dots">:</span>
          <div>
            <div class="countdown-value-temporal-unit-value">
              <div *ngFor="let i of extract(countdown.hours)">{{i}}</div>
            </div>
            <span>Hours</span>
          </div>
        </div>
        <div class="countdown-value-temporal-unit">
          <span class="countdown-value-temporal-unit-dots">:</span>
          <div>
            <div class="countdown-value-temporal-unit-value">
              <div *ngFor="let i of extract(countdown.minutes)">{{i}}</div>
            </div>
            <span>Minutes</span>
          </div>
        </div>
        <div class="countdown-value-temporal-unit">
          <span class="countdown-value-temporal-unit-dots">:</span>
          <div>
            <div class="countdown-value-temporal-unit-value">
              <div *ngFor="let i of extract(countdown.seconds)">{{i}}</div>
            </div>
            <span>Seconds</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="leaderboard-scores-time-remaining" *ngIf="!isVotingTimeEnded()">
    <p>Everything is not done yet!</p>
    <p>There is some remaining time before the end of rating period.</p>
    <div class="leaderboard-scores-time-remaining-countdown">
      <div class="countdown-value">
        <div class="countdown-value-temporal-unit">
          <div>
            <div class="countdown-value-temporal-unit-value">
              <div *ngFor="let i of extract(countdown.days)">{{i}}</div>
            </div>
            <span>Days</span>
          </div>
        </div>
        <div class="countdown-value-temporal-unit">
          <span class="countdown-value-temporal-unit-dots">:</span>
          <div>
            <div class="countdown-value-temporal-unit-value">
              <div *ngFor="let i of extract(countdown.hours)">{{i}}</div>
            </div>
            <span>Hours</span>
          </div>
        </div>
        <div class="countdown-value-temporal-unit">
          <span class="countdown-value-temporal-unit-dots">:</span>
          <div>
            <div class="countdown-value-temporal-unit-value">
              <div *ngFor="let i of extract(countdown.minutes)">{{i}}</div>
            </div>
            <span>Minutes</span>
          </div>
        </div>
        <div class="countdown-value-temporal-unit">
          <span class="countdown-value-temporal-unit-dots">:</span>
          <div>
            <div class="countdown-value-temporal-unit-value">
              <div *ngFor="let i of extract(countdown.seconds)">{{i}}</div>
            </div>
            <span>Seconds</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="leaderboard-scores-grid" *ngIf="isVotingTimeStarted()">
    <div class="leaderboard-scores-grid-groups">
      <ul class="leaderboard-scores-grid-groups-header">
        <li>Group</li>
        <li>Rank</li>
      </ul>
      <div [class.self-group]="isSelfMemberGroup(ranking.group)" *ngFor="let ranking of rankings">
        <div>
          <div class="group-icon">
            <img [src]="'assets/challenge_group_placeholder.svg'" alt="">
          </div>
          <p class="group-name">{{ranking.group.name}}</p>
        </div>
        <div class="group-rank">
          <p>#0</p>
        </div>
      </div>
    </div>
    <div class="leaderboard-scores-grid-groups-criteria">
      <ul class="leaderboard-scores-grid-groups-criteria-header">
        <li *ngFor="let ratingCriteria of ratingCriteria">{{ratingCriteria.name}}</li>
      </ul>
      <div [class.self-group]="isSelfMemberGroup(ranking.group)" *ngFor="let ranking of rankings">
        <div class="group-criteria-note" *ngFor="let ratingCriteria of ratingCriteria">
          <span>{{getGroupRatingAvgByCriteria(ranking.group, ratingCriteria)}}</span>
          <span>/10</span>
        </div>
      </div>
    </div>
  </div>
  <dfy-pagination [pageSize]="10" [pageCount]="getLeaderboardPageCount()" (page)="onPageChanged($event)"></dfy-pagination>
</div>
