<h1>Chats</h1>
<div>
  <div class="chat-box" *ngIf="channelCache.length > 0">
    <ul class="challenge-box-chats-list" *ngIf="channelCache.length > 0">
      <li *ngFor="let channel of channelCache" (click)="onChannelSelected(channel)">{{channel.name}}</li>
    </ul>
    <div class="chat-box-messages">
      <div class="chat-box-messages-empty" *ngIf="messages.length == 0">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
          <path
            d="M6.75 14.5a1.75 1.75 0 1 1 0 3.5a1.75 1.75 0 0 1 0-3.5Zm0 1.5a.25.25 0 1 0 0 .5a.25.25 0 0 0 0-.5Zm8.748-8a2.5 2.5 0 1 1 0 5l-.052-.002l-.114.009l-.742-.001c.112.271.174.568.174.88a2.35 2.35 0 0 1-2.375 2.378c-1.003 0-1.74-.444-2.13-1.176a.75.75 0 0 1 1.271-.79l.1.163c.136.194.36.303.76.303a.85.85 0 0 0 .874-.878c0-.44-.362-.815-.844-.866l-.215-.013H2.75a.75.75 0 0 1-.102-1.493l.102-.007h12.582l.048.002l.059-.007l.176-.009a1 1 0 1 0-1.009-1.449l-.09.207a.75.75 0 0 1-1.368-.607A2.502 2.502 0 0 1 15.498 8Zm-6-5.005a3.5 3.5 0 0 1 .435 6.974l-.1.02l-.103.006H2.75a.75.75 0 0 1-.102-1.493l.102-.007h6.749a2 2 0 1 0-2-2a.75.75 0 0 1-1.5 0a3.5 3.5 0 0 1 3.5-3.5ZM3.75 3a1.75 1.75 0 1 1 0 3.5a1.75 1.75 0 0 1 0-3.5Zm12.5-1a1.75 1.75 0 1 1 0 3.5a1.75 1.75 0 0 1 0-3.5ZM3.75 4.5a.25.25 0 1 0 0 .5a.25.25 0 0 0 0-.5Zm12.5-1a.25.25 0 1 0 0 .5a.25.25 0 0 0 0-.5Z"/>
        </svg>
        Chat history is empty
      </div>
      <div class="chat-box-messages-list" #messageList>
        <div class="chat-box-messages-item"
             [class.current-member-message]="isSelfMessage(message)"
             [class.maintainer-member-message]="isMessageSentByMaintainer(message)"
             [class.chat-box-messages-item-failed]="message.isFailed"
             *ngFor="let message of messages">
          <ng-container *ngIf="!isSelfMessage(message)">
            <div class="sender-avatar">
              <img [src]="getSenderAvatar(message)" alt="">
              <div class="sender-avatar-status" *ngIf="message.sender">
                <span class="status-indicator"
                      [ngClass]="isSenderOnline(message) ? 'status-indicator-online' : 'status-indicator-offline'"></span>
              </div>
            </div>
            <div>
              <div class="message-head">
                <a class="sender-username"
                   [routerLink]="['/app/user/profile/', getSenderNickname(message)]">{{getSenderUsername(message)}}</a>
                <p class="timestamp">{{message.sentAt | date:'MMM d \'at\' H:mm'}}</p>
                <div class="message-head-options">
                  <button class="message-head-options-report" (click)="onReportMessage(message)" tooltip="Report">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                      <path
                        d="M20.71 7.98L16.03 3.3c-.19-.19-.45-.3-.71-.3H8.68c-.26 0-.52.11-.7.29L3.29 7.98c-.18.18-.29.44-.29.7v6.63c0 .27.11.52.29.71l4.68 4.68c.19.19.45.3.71.3h6.63c.27 0 .52-.11.71-.29l4.68-4.68a.99.99 0 0 0 .29-.71V8.68c.01-.26-.1-.52-.28-.7zM19 14.9L14.9 19H9.1L5 14.9V9.1L9.1 5h5.8L19 9.1v5.8z"/>
                      <circle cx="12" cy="16" r="1"/>
                      <path d="M12 7c-.55 0-1 .45-1 1v5c0 .55.45 1 1 1s1-.45 1-1V8c0-.55-.45-1-1-1z"/>
                    </svg>
                  </button>
                </div>
              </div>
              <p class="message-content">
                <svg class="message-content-mark" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                     viewBox="0 0 20 20">
                  <path d="m10 5l8 10H2z"/>
                </svg>
                {{message.content}}
              </p>
            </div>
          </ng-container>
          <ng-container *ngIf="isSelfMessage(message)">
            <div>
              <div class="message-head">
                <div class="message-head-options">
                  <button class="message-head-options-delete" (click)="onDeleteMessage(message)" tooltip="Delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                      <path
                        d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zM9 9h6c.55 0 1 .45 1 1v8c0 .55-.45 1-1 1H9c-.55 0-1-.45-1-1v-8c0-.55.45-1 1-1zm6.5-5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z"/>
                    </svg>
                  </button>
                </div>
                <a class="sender-username"
                   [routerLink]="['/app/user/profile/', getSenderNickname(message)]">{{getSenderUsername(message)}}</a>
                <p class="timestamp">{{message.sentAt | date:'MMM d \'at\' H:mm'}}</p>
              </div>
              <p class="message-content">
                <svg class="message-content-mark" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                     viewBox="0 0 20 20">
                  <path d="m10 5l8 10H2z"/>
                </svg>
                {{message.content}}
              </p>
            </div>
            <div class="sender-avatar" *ngIf="isSelfMessage(message)">
              <img [src]="getSenderAvatar(message)" alt="">
              <div class="sender-avatar-status" *ngIf="message.sender">
                <span class="status-indicator"
                      [ngClass]="isSenderOnline(message) ? 'status-indicator-online' : 'status-indicator-offline'"></span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="user-input send-message" [formGroup]="messageForm" (ngSubmit)="onSendMessage()">
      <div class="user-input-box">
        <label for="message">Send message</label>
        <input id="message" class="form-control" type="text" name="message" formControlName="message"
               (keyup.enter)="onSendMessage()" [customFocus]="'user-input-active'">
        <button class="submit-btn" type="submit" value="" (click)="onSendMessage()">
          <svg width="32" height="32" viewBox="0 0 24 24">
            <path
              d="m3.4 20.4l17.45-7.48a1 1 0 0 0 0-1.84L3.4 3.6a.993.993 0 0 0-1.39.91L2 9.12c0 .5.37.93.87.99L17 12L2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z"/>
          </svg>
        </button>
      </div>
      <p class="send-message-timeout" *ngIf="displayTimeoutMessage">Please wait 5 seconds before sending another
        message</p>
    </div>
  </div>
</div>
