@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter.ttf'); }

$font-family: 'Inter';

:host {
    position: relative;

    .search-bar {
        padding: 0 16px 0 8px;
        width: fit-content;
        width: 300px;
        min-width: 150px;
        height: 38px;
        position: relative;
        z-index: 91;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 25px;

        .search-btn {
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;

            svg {
                padding: 2px 5px 0 0;
                width: 28px;
                height: 28px;
                box-sizing: border-box;
                fill: #808080;
            }
        }

        input[type="text"] {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: none;
            border-radius: 0 15px 15px 0;
            outline: none;
            font-size: 1em;
            font-family: $font-family;
            color: #252526;

            &:focus + .search-bar + .advanced-search {
                display: flex;
            }
        }
    }

    .advanced-search {
        padding: 16px 0;
        width: 350px;
        height: fit-content;
        position: absolute;
        top: calc(100% + 5px);
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 91;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 8px;
        background-color: #FFFFFF;

        .section {
            width: 100%;

            .name {
                margin: 0 0 12px 16px;
                display: block;
                font-weight: 500;
                font-size: 0.7em;
                font-family: $font-family;
                color: #808080;
            }

            .history-empty {
                margin: 0 0 16px 16px;
                display: flex;
                font-size: 0.9em;
                font-family: $font-family;
            }

            .search-item {
                padding: 0 16px;
                height: 35px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    background-color: #F5F5F5;

                    .tag {
                        background-color: #FFFFFF;
                    }
                }

                .label {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.9em;
                    font-family: $font-family;
                }

                .remove {
                    padding: 0;
                    position: relative;
                    top: 2.5px;
                    border: none;
                    background: none;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                        fill: #252526;
                        stroke: #252526;
                    }
                }
            }

            .tag-list {
                margin: 0 0 0 16px;
                padding: 0;
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 8px;
                list-style-type: none;
            
                .tag {
                    padding: 4px 10px;
                    min-width: 30px;
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    border-radius: 3px;
                    background-color: #F2F2F2;
                    text-align: center;
                    font-weight: 500;
                    font-size: .8em;
                    font-family: $font-family;
                    color: #252526;
                    cursor: default;

                    button {
                        margin-top: 1px;
                        padding: 0;
                        height: 16px;
                        border: none;
                        background: none;
                        cursor: pointer;

                        svg {
                            width: 12px;
                            height: 12px;
                            fill: #252526;
                            stroke: #252526;
                        }
                    }
                }
            }

            .tag-add {
                margin: 0 0 16px 16px;
                padding: 0 8px;
                height: 35px;
                width: 90%;
                display: flex;
                align-items: center;
                gap: 8px;
                box-sizing: border-box;
                border: 1px solid #E2E2E2;
                background-color: #F5F5F5;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: #808080;
                }

                input[type=text] {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: none;
                    outline: none;
                    font-size: .8em;
                    font-family: $font-family;
                }
            }
        }
    }
}

.backdrop {
    z-index: 90;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }