:host(.list-cell) {
    height: 120px;
    align-items: center;

    &:hover {
        transform: translate(8px, 0);
    }

    .challenge-preview-cover {
        width: 100px;
        height: 100%;
        border-radius: 16px 0 0 16px;

        div {
            display: none;
        }
    }

    .challenge-author {
        width: fit-content;
        margin-left: 24px;

        .avatar {
            width: 40px;
            height: 40px;
        }

        .username {
            font-size: 0.8em;
        }
    }

    .presentation {
        margin-left: 24px;
        width: 320px;

        .challenge-name {
            margin: 0;
            width: fit-content;
            font-size: .85em;
        }
    
        .challenge-description {
            margin: 8px 0 0 0;
            width: fit-content;
            font-size: .85em;
        }
    }

    .challenge-stats {
        margin-left: 24px;
        width: 220px;
        max-width: 250px;
        column-gap: 24px;

        > div {

            .value {
                margin: 0 0 4px 0;
                color: var(--color-text);
            }

            .name {
                margin: 0;
                color: #ADAFCA;
            }
        }
    }

    .challenge-tags {
        margin: 0 0 0 40px;
    }
}

:host(.grid-cell) {
    height: 500px;
    flex-direction: column;

    &:hover {
        transform: translate(0, -8px);
    }

    .challenge-preview-cover {
        width: 100%;
        height: 100px;
        border-radius: 16px 16px 0 0;

        div {
            width: 100%;
            height: 16px;
            position: relative;
            bottom: -2px; // Fix background image translation bug
            border-radius: 16px 16px 0 0;
            background-color: #FFF;
        }
    }

    .challenge-name {
        margin: 16px 0 0 0;
        font-size: .9em;
    }

    .challenge-description {
        margin: 16px 0 0 0;
        font-size: .9em;
    }

    .challenge-author {
        
        .avatar {
            width: 50px;
            height: 50px;
        }

        .username {
            font-size: 0.9em;
        }
    }

    .challenge-stats {
        margin-top: 32px;
        height: 50px;
        row-gap: 32px;
        column-gap: 64px;

        > div {

            .value {
                margin: 0 0 4px 0;
                color: var(--color-text);
            }

            .name {
                margin: 0;
                color: #ADAFCA;
            }
        }
    }

    .challenge-tags {
        margin: 24px 16px;
    }
}

:host {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 16px;
    background-color: #FFF;
    transition: transform ease .5s;
    cursor: pointer;

    .challenge-preview-cover {
        position: relative;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-color: #E6E6EF;   
    }

    .challenge-author {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .avatar {
            border-radius: 50%;
        }

        .username {
            text-decoration: none;
            color: var(--color-text-alt);

            &:before {
                content: "@";
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .challenge-name {
        text-align: center;
        font-weight: 600;
        color: var(--color-text);
    }

    .challenge-description {
        text-align: center;
        color: var(--color-text-alt);
    }

    .challenge-stats {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        > div {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            font-weight: 600;

            .value {
                margin: 0 0 4px 0;
                font-size: var(--preset-font-size-small);
                color: var(--color-text);
            }

            .name {
                margin: 0;
                font-size: var(--preset-font-size-tiny);
                color: var(--color-text-alt);
            }
        }
    }

    .challenge-tags {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        list-style-type: none;
    
        .item {
            padding: 4px 10px;
            min-width: 30px;
            height: fit-content;
            border-radius: 16px;
            text-align: center;
            font-weight: 500;
            font-size: .8em;
            color: #FFF;
        }
    }
}