<div class="challenge-cover" [ngStyle]="{'background-image': 'url('+ challenge?.coverUrl +')'}">
    <div></div>
</div>
<p class="challenge-name">{{challenge?.name || "Unknown"}}</p>
<p class="challenge-description">{{challenge?.description || "No description provided"}}</p>
<div class="challenge-stats">
    <div>
        <p class="value">4d</p>
        <p class="name">Duration</p>
    </div>
    <div>
        <p class="value">25/50</p>
        <p class="name">Members</p>
    </div>
    <div>
        <p class="value">1</p>
        <p class="name">Groups</p>
    </div>
    <div>
        <p class="value">1 Sept. 2022</p>
        <p class="name">Start</p>
    </div>
</div>
<ul class="challenge-tags" #tag_list>
    <li class="item">Development</li>
    <li class="item">Nature</li>
    <li class="item">Design</li>
</ul>