@import './assets/styles/_config.scss';

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/Sora.ttf');
}

$font-family: 'Sora';

:root {
  --color-primary-2: #F8F8FB;
  --color-text: #3E3F5E;
  --color-text-alt: #7D7E9E;
  --color-text-alt-2: #ADAFCA;
  --color-primary-rgb: 84, 101, 255;
  --color-primary: #5465FF;
  --color-primary-hover: #4355FF;
  --color-secondary: #50D8D7;
  --color-secondary-hover: #43D5D4;
  --color-tertiary: #F46197;
  --color-tertiary-hover: #F35790;
  --color-tertiary-2: #F6AE2D;
  --color-tertiary-2-hover: #F5A81F;
  --color-semantic-info: 0, 150, 255;
  --color-semantic-warning: 253, 218, 13;
  --color-semantic-success: 76, 175, 80;
  --color-semantic-error: 255, 82, 82;
  --preset-font-size-tiny: .8em;
  --preset-font-size-small: .9em;
  --preset-font-size-normal: 1em;
  --preset-font-size-medium: 1.4em;
  --preset-font-size-large: 1.8em;
  --preset-font-size-x-large: 2.3em;
}

/*body.theme-dark {
  --color-primary-2: #121212;
  --color-text: #3E3F5E;
  --color-text-alt: #7D7E9E;
  --color-text-alt-2: #ADAFCA;
}*/

// CSS Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 14px;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div[ng-view] {
  height: 100%;
}

button, input {
  font-family: $font-family;
}

button {
  cursor: pointer;
}

// End of CSS Reset

html {
  width: 100%;
  height: 100%;

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-2);
    font-family: $font-family;

    .main-content {
      margin-top: 112px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      box-sizing: border-box;
    }

    .user-input {

      .user-input-error {
        margin: 8px 0 0 0;
        font-size: var(--preset-font-size-small);
        color: #FF5252;
      }
    }

    .user-input-box {
      margin-bottom: 4px;
      width: 100%;
      position: relative;
      display: flex;
      border: 1px solid #DEDEEA;
      border-radius: 8px;

      &:focus-within {
        border-color: var(--color-primary);
      }

      label {
        position: absolute;
        top: 50%;
        left: 24px;
        z-index: 0;
        transform: translateY(-50%);
        transition: top ease .3s, font-size ease .3s;
        display: block;
        background-color: #FFF;
        font-size: .85em;
        color: var(--color-text-alt-2);
        cursor: text;
        pointer-events: none;
        opacity: 0;
        animation: moveLabel 1.5s forwards;
      }

      @keyframes moveLabel {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .form-control, select {
        padding: 0 16px;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
        border: none;
        border-radius: 8px;
        background-color: #FFF;
        outline: none;
        font-weight: 500;
        font-size: var(--preset-font-size-small);
        font-family: $font-family;
        color: var(--color-text);

        &:focus {
          border-color: var(--color-primary);
        }
      }

      .form-control[type=text], textarea {
        cursor: text !important;
      }

      .form-control[type=date] {
        font-weight: 500;
        font-size: var(--preset-font-size-small);
        font-family: $font-family;
        color: var(--color-text);
      }

      select {
        cursor: pointer;
      }

      .submit-btn {
        padding: 0;
        width: 60px;
        height: 100%;
        position: absolute;
        right: 0;
        box-sizing: content-box;
        border: none;
        border-radius: 8px;
        background-color: var(--color-secondary);
        cursor: pointer;

        &:hover {
          background-color: var(--color-secondary-hover);
        }

        svg {
          width: 50%;
          height: 50%;
          fill: #FFF;
        }
      }
    }

    .twitter-link {
      background-color: #1DA1F2;
    }

    .facebook-link {
      background-color: #1877F2;
    }

    .spotify-link {
      background-color: #1ED760;
    }

    .youtube-link {
      background-color: #FF0000;
    }

    .github-link {
      background-color: #171515;
    }

    .discord-link {
      background-color: #5865f2;
    }

    .twitch-link {
      background-color: #9146FF;
    }

    .instagram-link {
      background-color: #E1306C;
    }
  }
}

.tooltip-owner {
  position: relative;

  &:hover .tooltip {
    display: block;
  }

  .tooltip {
    padding: 5px 8px;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    display: none;
    border-radius: 8px;
    background-color: #353536;
    font-size: var(--preset-font-size-small);
    color: #FFF;
  }
}

.user-input-active {

  label {
    padding: 0 4px;
    top: 0;
    left: 16px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    font-size: .75em;
  }
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
