:host {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;

  .login-error {
    padding: 0 24px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 1;
    animation: 1s ease-out 1 slideDown forwards;
    display: none;
    align-items: center;
    gap: 16px;
    background-color: #FF5252;
    font-weight: 500;
    color: #FFF;

    svg {
      width: 24px;
      height: 24px;
      fill: #FFF;
    }

    .hide {
      padding: 0;
      position: absolute;
      right: 24px;
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  .login-error-shown {
    display: flex;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes panel-forward {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

  @keyframes auth-box-forward {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }

  .auth-panel {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 0 32px 32px 0;
    background-color: var(--color-primary);
    animation: panel-forward 1.5s;

    svg {
      width: 80px;
      height: 80px;
      fill: #FFF;
    }

    h2 {
      font-weight: 700;
      font-size: var(--preset-font-size-x-large);
      color: #FFF;
    }
  }

  .auth-box {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: auth-box-forward 1.5s;

    .auth-box-header {
      margin-bottom: 32px;

      h1 {
        margin: 0;
        text-align: center;
        font-size: 2.5em;
        color: var(--color-text);
      }
    }

    .auth-box-body {
      width: 60%;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .login-form {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .rempass {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 8px;
          user-select: none;

          label {
            font-size: .9em;
            color: var(--color-text);
            cursor: pointer;

            .form-control[type=checkbox] {
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
          }

          .forgot-password {
            text-decoration: none;
            font-size: .9em;
            color: var(--color-text-alt);
          }
        }

        .confirm {
          padding: 0;
          width: 100%;
          min-width: 200px;
          height: 46px;
          border: none;
          border-radius: 4px;
          background-color: var(--color-primary);
          font-weight: 600;
          font-size: 1em;
          color: #FFF;
          cursor: pointer;

          &:hover {
            background-color: var(--color-primary-hover);
          }
        }
      }

      .no-account {
        margin: 0;
        display: flex;
        gap: 8px;
        color: var(--color-text);

        a {
          text-decoration: none;
          color: var(--color-tertiary);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .user-input-active {

    label {
      padding: 0 4px;
      top: 0;
      left: 16px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      font-size: .75em;
    }
  }
}
